body {
  font-family: Orbitron;
  color: #e5e4e2;
  background-color: #0f1409;
}

/*
color Palette
Greens--
BlackOlive: #0f1409
Mallard: #334a24
Medium Green: #2d6f43
Apple: #48bd29
Reds--
DeepRed: #6c0d0a
JudgeGray: #563e35
Medium Pink: #b45a62
Bright Red: #ff010e
Neutrals--
DarkGrey: #272211
MediumGrey: #4f4c44
MediumLightGrey: #8f8d85
LigtGrey: #e5e4e2
*/